html, body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,eeeeee+100 */
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  text-align: center;
}

header {
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 0 1px 0 #fff;
  margin-bottom: 18px;
  padding: 50px 0;
}

header .container h1 {
  display: block;
  font-size: 84px;
  margin: 0;
  text-shadow: 2px 2px 4px #616161;
}

#hearts {
  display: block;
  font-size: 0;
  line-height: 32px;
  list-style-type: none;
  margin: 32px 0 0;
  padding: 0;
}

#hearts li {
  display: inline-block;
  margin-left: -2px;
  font-size: 24px;
}

#hearts li .fa-heart {
  -webkit-text-stroke: 2px #37474F;
  color: #F44336;
  display: inline-block;
  line-height: 28px;
  position: relative;
  text-align: center;
  vertical-align: baseline;
  width: 30px;
}

#hearts li.active .fa-heart {
  animation: pulse 0.4s infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  z-index: 999;
}

#hearts li.active ~ li .fa-heart {
  color: #37474F;
}

@keyframes pulse {
  0% {
    font-size: inherit;
  }
  
  100% {
    font-size: 125%;
  }
}

ul.lead {
  list-style: none;
  padding: 0;
}

ul.lead li {
  margin: 32px 0;
}